In [1]:
import pandas as pd
import numpy as np
import requests

# Campaign Finance

## Biden

In [3]:
bd_cursor = pd.read_html("https://www.fec.gov/data/candidate/P80000722/")

## Biden total finance raised

In [17]:
bd_cursor[0]

                                             0                1
0                               Total receipts  $952,239,369.70
1                          Total contributions  $720,307,065.92
2               Total individual contributions  $719,798,548.33
3            Itemized individual contributions  $436,038,294.00
4          Unitemized individual contributions  $283,760,256.00
5                Party committee contributions        $8,200.00
6                Other committee contributions      $500,317.59
7                    Presidential public funds            $0.00
8                      Candidate contributions            $0.00
9   Transfers from other authorized committees  $229,500,000.00
10                        Total loans received            $0.00
11                     Loans made by candidate            $0.00
12                                 Other loans            $0.00
13               Total offsets to expenditures    $2,359,865.93
14           Offsets to operating expenditures    $2,359,865.93
15                         Fundraising offsets            $0.00
16                Legal and accounting offsets            $0.00
17                              Other receipts       $72,437.85

## Biden total money spent

In [8]:
bd_cursor[1]

                                           0                1
0                        Total disbursements  $790,193,382.80
1                     Operating expenditures  $777,714,035.85
2   Transfers to other authorized committees      $275,000.00
3                                Fundraising            $0.00
4                Exempt legal and accounting            $0.00
5                 Total loan repayments made            $0.00
6                  Candidate loan repayments            $0.00
7                      Other loan repayments            $0.00
8                 Total contribution refunds   $12,204,290.95
9                         Individual refunds   $12,199,490.11
10                   Political party refunds            $0.00
11                   Other committee refunds        $4,800.84
12                       Other disbursements           $56.00

## Biden cash summary

In [9]:
bd_cursor[2]

                               0                1
0            Ending cash on hand  $162,045,986.90
1  Debts/loans owed to committee            $0.00
2  Debts/loans owed by committee            $0.00

In [18]:
# export to local directory
bd_cursor[0].T.to_csv("./biden_money_raised.csv")
bd_cursor[1].T.to_csv("./biden_money_spent.csv")
bd_cursor[2].T.to_csv("./biden_cash_summary.csv")

## TRUMP

In [12]:
tp_cursor = pd.read_html("https://www.fec.gov/data/candidate/P80001571/")

## Trump total money raised

In [13]:
tp_cursor[0]

                                             0                1
0                               Total receipts  $601,392,178.39
1                          Total contributions  $345,092,525.31
2               Total individual contributions  $344,318,342.36
3            Itemized individual contributions  $205,574,051.00
4          Unitemized individual contributions  $138,744,291.00
5                Party committee contributions            $0.00
6                Other committee contributions      $774,182.95
7                    Presidential public funds            $0.00
8                      Candidate contributions            $0.00
9   Transfers from other authorized committees  $249,329,046.61
10                        Total loans received            $0.00
11                     Loans made by candidate            $0.00
12                                 Other loans            $0.00
13               Total offsets to expenditures    $5,306,038.54
14           Offsets to operating expenditures    $5,306,038.54
15                         Fundraising offsets            $0.00
16                Legal and accounting offsets            $0.00
17                              Other receipts    $1,664,567.93

In [14]:
tp_cursor[1]

                                           0                1
0                        Total disbursements  $565,389,516.57
1                     Operating expenditures  $544,393,076.82
2   Transfers to other authorized committees      $393,947.32
3                                Fundraising            $0.00
4                Exempt legal and accounting            $0.00
5                 Total loan repayments made            $0.00
6                  Candidate loan repayments            $0.00
7                      Other loan repayments            $0.00
8                 Total contribution refunds      $170,697.43
9                         Individual refunds      $147,431.56
10                   Political party refunds        $4,400.00
11                   Other committee refunds       $18,865.87
12                       Other disbursements   $20,431,795.00

In [15]:
tp_cursor[2]

                               0               1
0            Ending cash on hand  $43,609,964.74
1  Debts/loans owed to committee           $0.00
2  Debts/loans owed by committee   $1,222,022.11

In [19]:
# export to local directory
tp_cursor[0].T.to_csv("./trump_money_raised.csv")
tp_cursor[1].T.to_csv("./trump_money_spent.csv")
tp_cursor[2].T.to_csv("./trump_cash_summary.csv")

# States

## electoral weightages by states

In [41]:
df_StateVotes = pd.read_html("https://ballotpedia.org/Electoral_College_in_the_2020_presidential_election")[1]

In [42]:
df_StateVotes = df_StateVotes.iloc[:, 0:2]

In [43]:
df_StateVotes.columns = ['state','electoral votes']

In [44]:
df_StateVotes

                   state  electoral votes
0                Alabama                9
1                 Alaska                3
2                Arizona               11
3               Arkansas                6
4             California               55
5               Colorado                9
6            Connecticut                7
7               Delaware                3
8   District of Columbia                3
9                Florida               29
10               Georgia               16
11                Hawaii                4
12                 Idaho                4
13              Illinois               20
14               Indiana               11
15                  Iowa                6
16                Kansas                6
17              Kentucky                8
18             Louisiana                8
19                 Maine                4
20              Maryland               10
21         Massachusetts               11
22              Michigan               16
23             Minnesota               10
24           Mississippi                6
25              Missouri               10
26               Montana                3
27              Nebraska                5
28                Nevada                6
29         New Hampshire                4
30            New Jersey               14
31            New Mexico                5
32              New York               29
33        North Carolina               15
34          North Dakota                3
35                  Ohio               18
36              Oklahoma                7
37                Oregon                7
38          Pennsylvania               20
39          Rhode Island                4
40        South Carolina                9
41          South Dakota                3
42             Tennessee               11
43                 Texas               38
44                  Utah                6
45               Vermont                3
46              Virginia               13
47            Washington               12
48         West Virginia                5
49             Wisconsin               10
50               Wyoming                3

In [45]:
df_StateVotes.to_csv('./allocated electoral votes.csv', index=False)

## Vote results by states

In [2]:
df_states = pd.ExcelFile('./results by state.xlsx')

In [3]:
states = df_states.sheet_names

In [12]:
#check 50 states + washington D.C.
len(states)

51

In [25]:
df_unpivoted

Empty DataFrame
Columns: [state, Democrat, Republican, Independent, Write-in]
Index: []

In [4]:
pd.read_excel('./results by state.xlsx', states[1])

           Unnamed: 0         PARTY   VOTES   PCT.
0        Donald Trump    Republican  108231  0.629
1           Joe Biden      Democrat   56849  0.330
2        Jo Jorgensen   Libertarian    4557  0.026
3       Jesse Ventura         Green    1302  0.008
4     Don Blankenship  Constitution     528  0.003
5        Brock Pierce   Independent     420  0.002
6  Rocky De La Fuente      Alliance     144  0.001
7           Write-ins      Write-in       0  0.000

In [36]:
#create an empty df to store the unpivoted data
df_unpivoted = pd.DataFrame(columns = ["state"]+ parties)

candidates = {'Democrat': 'Joe Biden',
              'Republican': 'Donald Trump',
              'Minority': {},
              'Write-in': 'Unknown'}
minority_votes = {}

#iterate over each state
for state in states:
    df_state = pd.read_excel('./results by state.xlsx', state)
    state_result = {'state': state}
    
    #iter over each party voted
    for index, row in df_state.iterrows():
        candidate = row['Unnamed: 0']
        party = row['PARTY']
        votes = row['VOTES']
        #percent = row['PCT.']

        if party in candidates.keys(): #if democrat or republican
            state_result[party] = votes
        else:
            candidates['Minority'] = {'party':party,'candiate': candidate}
            state_result["Independent"] = votes
            
            if candidate not in minority_votes.keys():
                minority_votes[candidate] = votes
            else:
                minority_votes[candidate] += votes
            
    df_unpivoted = df_unpivoted.append(state_result,ignore_index=True)

In [37]:
df_unpivoted

              state Democrat Republican Independent Write-in
0           Alabama   834968    1430540       24894     7222
1            Alaska    56849     108231         144        0
2           Arizona  1532062    1485010       42955      422
3          Arkansas   420984     764246        1326      NaN
4        California  8180018    4152425       31925     2769
5          Colorado  1723455    1316021         165        0
6       Connecticut  1012230     685628        7187      574
7          Delaware   295413     199857        2135        0
8           Florida  5269926    5646949        4064    14670
9           Georgia  2446814    2448081       61345      829
10           Hawaii   365802     196602         930      NaN
11            Idaho   286355     549126        1483      745
12         Illinois  2955392    2306035        6906     5269
13          Indiana  1196933    1699706       57592     5527
14             Iowa   757681     896355         551     2278
15           Kansas   542646     748608       28958      316
16         Kentucky   755724    1330080        3510      270
17        Louisiana   855597    1255482         534      NaN
18            Maine   413817     332978        1165     1544
19         Maryland  1367129     759962        4148     2265
20    Massachusetts  2231100    1107738       17461    16014
21         Michigan  2795714    2648818        2993     4189
22        Minnesota  1714019    1481847         708      549
23      Mississippi   405806     614560         552     1492
24         Missouri  1242851    1711847        3894     2544
25          Montana   243714     341763       15190     2110
26         Nebraska   362038     544150       19453      706
27           Nevada   604251     592813        2578      NaN
28    New Hampshire   420218     363345       14799      620
29       New Jersey  1936715    1269742        1645     8283
30       New Mexico   499903     402312        1628      NaN
31         New York  4235888    2933947       18396     2835
32   North Carolina  2655383    2732120        7381     7886
33     North Dakota   114687     234962        9493     2137
34             Ohio  2576590    3038247       17674     5367
35         Oklahoma   503289    1018870        2542      NaN
36           Oregon  1301643     925017        4753    16288
37     Pennsylvania  3267942    3286171       76139     9010
38     Rhode Island   297073     195997         734      NaN
39   South Carolina  1088238    1379063        2098      NaN
40     South Dakota   150470     261108       11095      NaN
41        Tennessee  1139364    1849791        1836     3665
42            Texas  5221996    5876724       33160     9226
43             Utah   440012     685707         765     3483
44          Vermont   227231     111131          29     2198
45         Virginia  2363399    1951677       64113     6842
46       Washington  2230969    1426175        2177      505
47  Washington D.C.   258561      14449         514     2257
48    West Virginia   232502     539610        2547     1151
49        Wisconsin  1630541    1610007        5205     7980
50          Wyoming    73445     193454        2206     1655

In [38]:
df_unpivoted = df_unpivoted.fillna(0)

In [39]:
df_unpivoted

              state  Democrat  Republican  Independent  Write-in
0           Alabama    834968     1430540        24894      7222
1            Alaska     56849      108231          144         0
2           Arizona   1532062     1485010        42955       422
3          Arkansas    420984      764246         1326         0
4        California   8180018     4152425        31925      2769
5          Colorado   1723455     1316021          165         0
6       Connecticut   1012230      685628         7187       574
7          Delaware    295413      199857         2135         0
8           Florida   5269926     5646949         4064     14670
9           Georgia   2446814     2448081        61345       829
10           Hawaii    365802      196602          930         0
11            Idaho    286355      549126         1483       745
12         Illinois   2955392     2306035         6906      5269
13          Indiana   1196933     1699706        57592      5527
14             Iowa    757681      896355          551      2278
15           Kansas    542646      748608        28958       316
16         Kentucky    755724     1330080         3510       270
17        Louisiana    855597     1255482          534         0
18            Maine    413817      332978         1165      1544
19         Maryland   1367129      759962         4148      2265
20    Massachusetts   2231100     1107738        17461     16014
21         Michigan   2795714     2648818         2993      4189
22        Minnesota   1714019     1481847          708       549
23      Mississippi    405806      614560          552      1492
24         Missouri   1242851     1711847         3894      2544
25          Montana    243714      341763        15190      2110
26         Nebraska    362038      544150        19453       706
27           Nevada    604251      592813         2578         0
28    New Hampshire    420218      363345        14799       620
29       New Jersey   1936715     1269742         1645      8283
30       New Mexico    499903      402312         1628         0
31         New York   4235888     2933947        18396      2835
32   North Carolina   2655383     2732120         7381      7886
33     North Dakota    114687      234962         9493      2137
34             Ohio   2576590     3038247        17674      5367
35         Oklahoma    503289     1018870         2542         0
36           Oregon   1301643      925017         4753     16288
37     Pennsylvania   3267942     3286171        76139      9010
38     Rhode Island    297073      195997          734         0
39   South Carolina   1088238     1379063         2098         0
40     South Dakota    150470      261108        11095         0
41        Tennessee   1139364     1849791         1836      3665
42            Texas   5221996     5876724        33160      9226
43             Utah    440012      685707          765      3483
44          Vermont    227231      111131           29      2198
45         Virginia   2363399     1951677        64113      6842
46       Washington   2230969     1426175         2177       505
47  Washington D.C.    258561       14449          514      2257
48    West Virginia    232502      539610         2547      1151
49        Wisconsin   1630541     1610007         5205      7980
50          Wyoming     73445      193454         2206      1655

In [40]:
df_unpivoted.to_csv("./unpivoted results by state.csv",index= False)

## API from Federal Election Commission

In [ ]:
api_key = "dZiTMAqNImH5vtanvF3VfghZdESNp3PzthbMewUs"
url = "https://api.open.fec.gov/v1/legal/search/?api_key={}".format(api_key)
response = requests.get(url)